/* Normalize */
@import url("../vendor/normalize.css");

/* Fonts */
@import url("../vendor/fonts/fonts.css");

/* Page */
@import url("../blocks/page/page.css");
@import url("../blocks/page/_overlay/page_overlay.css");
@import url("../blocks/page/__content/page__content.css");
@import url("../blocks/page/__footer/page__footer.css");

/* Container */
@import url("../blocks/container/container.css");

/* Header */
@import url("../blocks/header/header.css");
@import url("../blocks/header/__logo/header__logo.css");
@import url("../blocks/header/__logo-link/header__logo-link.css");

/* Content */
@import url("../blocks/content/content.css");
@import url("../blocks/content/__cards/content__cards.css");

/* Profile */
@import url("../blocks/profile/profile.css");
@import url("../blocks/profile/__info/profile__info.css");
@import url("../blocks/profile/__main/profile__main.css");
@import url("../blocks/profile/__name/profile__name.css");
@import url("../blocks/profile/__job/profile__job.css");
@import url("../blocks/edit-button/edit-button.css");

/* Avatar */
@import url("../blocks/avatar/avatar.css");

/* Buttons */
@import url("../blocks/add-button/add-button.css");
@import url("../blocks/add-button/__element/add-button__element.css");
@import url("../blocks/edit-button/edit-button.css");
@import url("../blocks/edit-button/__element/edit-button__element.css");

/* Cards */
@import url("../blocks/cards/cards.css");

/* Card */
@import url("../blocks/card/card.css");
@import url("../blocks/card/__photo/card__photo.css");
@import url("../blocks/card/__info/card__info.css");
@import url("../blocks/card/__name/card__name.css");

/* Footer */
@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/__copyright/footer__copyright.css");

/* Pop-up */
.pop-up {
    display: none;
    width: calc(100% - 38px);
    flex-direction: column;
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pop-up_opened {
    display: flex;
}

.pop-up__container {
    padding: 25px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: relative;
}

.pop-up__title {
    margin: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    text-align: center;
}

.pop-up__form {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
}

.pop-up__input {
    border: 0;
    padding: 0 0 13px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    max-width: 100%;
    margin-bottom: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.pop-up__input:last-of-type {
    margin: 0;
}

.pop-up__close-button {
    background: none;
    padding: 0;
    border: 0;
    min-height: 20px;
    min-width: 20px;
    position: absolute;
    top: -19px;
    right: 0;
    transform: translate(-20px, -20px);
    transition: .3s;
    cursor: pointer;
}

.pop-up__close-button:hover {
    opacity: 0.6;
}

.submit-button {
    padding: 0;
    margin-top: 45px;
    min-height: 46px;
    min-width: 100%;
    background: #000000;
    border: 0;
    border-radius: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    outline: none;
    transition: .3s;
    cursor: pointer;
}

.submit-button:hover {
    opacity: .8;
}

.like-button {
    padding: 0;
    border: 0;
    transition: .3s;
    cursor: pointer;
    transition: .3s;
}

.like-button:hover {
    opacity: .6;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: #000;
    opacity: 0.5;
}

.overlay_active {
    display: flex;
}